html,
body {
  position: relative;
  height: 100%;
  text-align: center;
  background: #fff;
  color: #5E2506;
  font-family: 'Playfair Display', serif;
}

.main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px;
  z-index: 0;
}

.headerImg1 img {
  width: 100%;
  height: 80vh;
  vertical-align: bottom;
}

ul {
  position: relative;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding-right: 40px;
  background: rosybrown;

}

li {
  padding: 8px;
  color: #fff;
}


a {
  text-decoration: none;
  color: #5E2506;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #990033;
}

.ber {
  position: relative;
}

.ber:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(66, 33, 11);
}

.ber:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(66, 33, 11);
}


nav {
  padding: 0;
  float: right;
  position: relative;
  top: -60px;
  font-weight: bold;

}


nav p {
  width: 4.5rem;
  height: 2rem;
  font-size: 15px;
  text-align: center;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  transition: 0.3s;
  color: #990033;
}

nav p::before,
nav p::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  transition: 0.3s;
}

nav p::before {
  background-color: white;
  border: solid 1px #990033;
  z-index: -1;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

nav p::after {
  border: solid 1px #990033;
  background-color: #990033;
  transform: translate(0.5rem, 0.4rem);
  z-index: -2;
}

nav p:hover {
  transform: translate(1rem, 1rem);
  color: white;
}

nav p:hover::before {
  background-color: #990033;
}

nav p:hover::after {
  background-color: white;
  transform: translate(-0.5rem, -0.4rem);
}

.contents-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 72px;

}

.contents-box {
  padding: 2rem;
  width: 32%;
  background-color: #f0f0f0;
}

.contents-box img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

.contents-box h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #990033;
}

@media screen and (max-width: 768px) {
  .contents-wrap {
    flex-direction: column;
  }

  .contents-box {
    width: 100%;
  }
}

.contents-wrap1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contents-box1 {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 23%;
  background-color: #f0f0f0;
}

.contents-box1 img {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  height: auto;
}

.contents-box1 h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #990033;
}


@media screen and (max-width: 768px) {
  .contents-wrap1 {
    flex-direction: column;
  }

  .contents-box1 {
    width: 100%;
  }
}

.contents-box1 h4 {
  float: right;
}

.btn {
  margin-bottom: 30px;
  padding: 0px;
  position: relative;
  font-weight: bold;
  display: inline-block;
}

.btn p {
  width: 10rem;
  height: 2.5rem;
  font-size: 15px;
  text-align: center;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  transition: 0.3s;
  color: #990033;
}

.btn p::before,
.btn p::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.btn p::before {
  background-color: white;
  border: solid 1px #990033;
  z-index: -1;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.btn p::after {
  border: solid 1px #990033;
  background-color: #990033;
  transform: translate(0.5rem, 0.4rem);
  z-index: -2;
}

.btn p:hover {
  transform: translate(1rem, 1rem);
  color: white;
}

.btn p:hover::before {
  background-color: #990033;
}

.btn p:hover::after {
  background-color: white;
  transform: translate(-0.5rem, -0.4rem);
}



.login-container {
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'Playfair Display', serif;
}

#output {
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

.login-container::before,
.login-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3.5px;
  left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;

}

.login-container::after {
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);

}

.form-box input {
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
  ;
  background: #fafafa;
  transition: 0.2s ease-in-out;

}

.form-box input:focus {
  outline: 0;
  background: #eee;
}

.form-box input[type="text"] {
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"] {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login {
  margin-top: 15px;
  padding: 10px 20px;
}


h1 {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

#input {
  ont-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;
}

#input:hover {
  background: #b3aca7;
  color: #fff;
}

#textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  vertical-align: bottom;
  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;
  border-bottom: none;
}

#textarea:hover {
  background: #b3aca7;
  color: #fff;
}

#picture {
  display: flex;
  width: 470px;
  padding: 0 0 0 15px;
}

#file {
  width: 157.3px;
  max-width: 157.3px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;
  margin: 0 -1px 0 0;
}

#file:hover {
  background: #b3aca7;
  color: #fff;
}

#submit {
  width: 470px;
  height: 70px;
  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #5E2506;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
}

#submit:hover {
  color: #330000;
  background: #b3aca7;
}

#clear {
  width: 470px;
  height: 50px;
  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
}

#clear:hover {
  color: #fff;
  background: #b3aca7;
}

#grid {
  display: grid;
  grid-template-rows: 50px 100px 300px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}


#mark {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding: 10px;
  text-align: left;
  position: relative;
}

#date {
  grid-row: 1 / 2;
  grid-column: 2/ 4;
  padding: 0 10px 10px 0px;
  text-align: left;
}


#title {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  padding: 10px 10px 10px 30px;
  text-align: left;
}

.tour_title {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #990033;
}

#text {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  padding: 10px;
}

#info {
  grid-row: 3 / 4;
  grid-column: 4 / 7;
  padding: 10px;
}

.Ribbon {
  background-color: #5E2506;
  color: #fff;
  display: inline-block;
  width: 100px;
  position: relative;
  text-decoration: none;
  padding: 4.5px 9px;
  transform: rotate(-90deg);
}

.Ribbon:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #5E2506 transparent transparent transparent;
  border-width: 43.5px 50px 0 50px;
  position: absolute;
  top: 100%;
  left: 0;
}

.Ribbon-inner {
  display: block;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  position: relative;
  height: 100%;
  padding: 80px 35px 12px;
}

.Ribbon-inner:before,
.Ribbon-inner:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #5E2506 transparent transparent transparent;
  border-width: 36px 41px 0 41px;
  margin-top: -1px;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 5;
}

.Ribbon-inner:before {
  border-color: #fff transparent transparent transparent;
  border-width: 36px 41px 41px;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

table {
  margin: 0 auto;
  width: 400px;
  border: none;
  border-top: solid 1px #b3aca7;
  border-bottom: solid 1px #b3aca7;
  border-collapse: separate;
  border-spacing: 0 10px;
  background: #f5f5f5;
}

table th {
  vertical-align: middle;
  height: 50px;
  width: 124px;
  border-right: solid 1px #b3aca7;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}

table td.data {
  padding: 0;
  margin: 0;
  height: 50px;
  width: 100px;
  border: none;
  font-size: 20px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

table td.bar {
  height: 1px;
  width: 100%;
  border-top: solid 1px #b3aca7;
}

.edit {
  float: right;
}

<<<<<<< HEAD=======>>>>>>>tyousei
