<header id="top_index">
  <div class="headerImg1">
    <img src="/assets/img1.jpg">
  </div>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <ul>
    <%= link_to tops_path do %>
      <li><h2>福岡探索MAP</h2></li>
    <% end %>
    <li style="flex-grow: 2;"><i class="fas fa-tags fa-3x"></i><br/>TAG</li>
    <%= link_to '自然', tag_show_path('自然'), :style=>"color:white;" %>&ensp;
    <%= link_to 'まち', tag_show_path('まち'), :style=>"color:white;" %>&ensp;
    <%= link_to '公園', tag_show_path('公園'), :style=>"color:white;" %>&ensp;
    <%= link_to '歴史', tag_show_path('歴史'), :style=>"color:white;" %>&ensp;
    <%= link_to '伝統文化・祭', tag_show_path('伝統文化・祭'), :style=>"color:white;" %>&ensp;
    <%= link_to '施設', tag_show_path('施設'), :style=>"color:white;" %>&ensp;
    <%= link_to '食', tag_show_path('食'), :style=>"color:white;" %>&ensp;
    <%= link_to 'スポーツ', tag_show_path('スポーツ'), :style=>"color:white;" %>
    <% unless session[:login_uid] %>
    <%= link_to login_path do %>
    <li><i class="fas fa-lock fa-3x"></i><br/>LOGIN</li>
    <% end %>
    <% else %>
    <%= link_to new_tour_path do %>
    <li><i class="fas fa-pencil-alt fa-3x"></i><br/>UPLOAD</li>
    <% end %>
    <%= link_to users_path do %>
    <li><i class="fas fa-user fa-3x"></i><br/>MY PAGE</li>
    <% end %>
    <%= link_to tops_logout_path do %>
    <li><i class="fas fa-lock-open fa-3x"></i><br/>LOGOUT</li>
    <% end %>
    <% end %>
    
  </ul>
</header>

<div class="main">
  <div class="ber">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">   
    <span class="title"> FUKUOKA </span>
  </div>
  <p>
      九州・アジアの玄関口、「福岡」。<br/>
      九州の中心として賑わうエネルギッシュな街に開放的でフレンドリーな博多っ子。<br/>
      豊かな食・伝統的な文化・恵まれた自然・暮らしやすい生活環境。<br/>
      ますますパワーアップする福岡の魅力をお届け！
  </p>
 
  <div class="ber">
    <span class="title"> TOPICS </sapn>
  </div>
   <%= link_to  tours_path do %>
    <nav>
    <p>all</p>
    </nav>
   <% end %>
<br/>

<div class="contents-wrap">
  <% @rank.each.with_index(1) do |rank, i| %>
  <div class="contents-box">
     NO. <%=  i %>
     <%= link_to tour_path(rank) do %>
     <img>
     <% unless rank.images.empty? %>
       <%= image_tag rank.images[0].img, :height => '150' %>
     <% end %>
     </img>
     <h2><%= rank.title %></h2>
     <%= rank.updated_at.strftime('%Y/%m/%d') %>&ensp;|&ensp;
     <%= User.find_by(id: rank.user_id).uid %>&ensp;|&ensp;
     <%= rank.tag %>&ensp;|&ensp;
     <%= rank.impressionist_count %> views
    <% end %>
    </div>
  <% end %>
  
</div>

</div>

