
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <ul>
    <li>福岡探索MAP</li>
    <li style="flex-grow: 2;"><i class="fas fa-tags fa-3x"></i><br/>TAG</li>
    <% unless session[:login_uid] %>
    <%= link_to login_path do %>
    <li><i class="fas fa-lock fa-3x"></i><br/>LOGIN</li>
    <% end %>
    <% else %>
    <%= link_to new_tour_path do %>
    <li><i class="fas fa-pencil-alt fa-3x"></i><br/>UPLOAD</li>
    <% end %>
    <%= link_to users_path do %>
    <li><i class="fas fa-user fa-3x"></i><br/>MY PAGE</li>
    <% end %>
    <%= link_to tops_logout_path do %>
    <li><i class="fas fa-lock-open fa-3x"></i><br/>LOGOUT</li>
    <% end %>
    <% end %>
    
  </ul>

	<div class="login-container">
	    <h1>福岡探索MAP</h1>
            <div id="output"></div>
            <div class="form-box">
                <form action="/login" method="">
                    <%= text_field_tag :uid , nil, placeholder:"ID"%>
                    <%= password_field_tag :password , nil, placeholder:"password"%>
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
                <form action="users/new" method="">
                    <button class="btn btn-info btn-block login" type="submit">Sign Up</button>
                </form>
            </div>
    </div>
        <br/>
        <br/>

<%= link_to  root_path do %>
    <div class="btn">
    <p>TOPへ</p>
    </div>
<% end %>


