<h1>～絞り込みタグ：<%= @tag %>～</h1>

<div class="main">
  <div class="contents-wrap1">
<% @tour.each do |t| %>
<div class="contents-box1">
  <%= link_to  tour_path(t) do %>
  <img>
  <% unless t.images.empty? %>
    <%= image_tag t.images[0].img, :height => '150' %>
  <% end %>
   </img>
  <h2><%= t.title %></h2>
  <%= t.updated_at.strftime('%Y/%m/%d') %>&ensp;|&ensp;
  <%= User.find_by(id: t.user_id).uid %>&ensp;|&ensp;
  <%= t.tag %>&ensp;|&ensp;
  <%= t.impressionist_count %>views
  <% end %>
  </div>
<% end %>
</div>

<%= paginate(@tour) %>
<br/>
<br/>
  
<%= link_to tours_path  do %>
<div class="btn">
    <p>TOPICSへ</p>
</div>
<% end %>
&ensp;&ensp;&ensp;&ensp;
<%= link_to  root_path do %>
    <div class="btn">
    <p>TOPへ</p>
    </div>
<% end %>

</div>