<h1>〜マイページ〜</h1>
投稿数：<%= @tours.count %><br>

<div class="main">
   <div class="contents-wrap1">
<% @tours.each do |t| %>
<div class="contents-box1">
  <%= link_to  tour_path(t) do %>
  <img>
  <% unless t.images.empty? %>
    <%= image_tag t.images[0].img, :height => '150' %>
  <% end %>

  </img>
  <h2><%= t.title %></h2>
  <%= t.updated_at.strftime('%Y/%m/%d') %>&ensp;|&ensp;
  <%= User.find_by(id: t.user_id).uid %>&ensp;|&ensp;
  <%= t.tag %>&ensp;|&ensp;
  <%= t.impressionist_count %>views
  <% end %>
  <% if t.user_id == User.find_by(uid: session[:login_uid]).id %>
    <h4><%= link_to "削除", tour_path(t), method: :delete  %></h4>
  <% end %>
  
  </div>
<% end %>
</div>
<%= paginate(@tours) %>
<br/>
<br/>
  
<%= link_to tours_path  do %>
<div class="btn">
    <p>TOPICSへ</p>
</div>
<% end %>
&ensp;&ensp;&ensp;&ensp;
<%= link_to  root_path do %>
    <div class="btn">
    <p>TOPへ</p>
    </div>
<% end %>

</div>

