<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


	<div class="login-container">
	    <h1>福岡探索MAP</h1>
            <div id="output"></div>
            <div class="form-box">
                <%= form_for @user do |u| %>
                  <% u.label :uid, 'ユーザーID' %>
                  <%= u.text_field :uid , placeholder: 'ID' %>
                  <% u.label :password, 'パスワード' %>
                  <%= u.password_field :password , placeholder: 'password' %>
                  <button class="btn btn-info btn-block login" type="submit">Sign Up</button>
                <% end %>
            </div>
    </div>
