<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <ul>
    <%= link_to tops_path do %>
      <li><h2>福岡探索MAP</h2></li>
    <% end %>
    <li style="flex-grow: 2;"><i class="fas fa-tags fa-3x"></i><br/>TAG</li>
    <%= link_to '自然', tag_show_path('自然'), :style=>"color:white;" %>&ensp;
    <%= link_to 'まち', tag_show_path('まち'), :style=>"color:white;" %>&ensp;
    <%= link_to '公園', tag_show_path('公園'), :style=>"color:white;" %>&ensp;
    <%= link_to '歴史', tag_show_path('歴史'), :style=>"color:white;" %>&ensp;
    <%= link_to '伝統文化・祭', tag_show_path('伝統文化・祭'), :style=>"color:white;" %>&ensp;
    <%= link_to '施設', tag_show_path('施設'), :style=>"color:white;" %>&ensp;
    <%= link_to '食', tag_show_path('食'), :style=>"color:white;" %>&ensp;
    <%= link_to 'スポーツ', tag_show_path('スポーツ'), :style=>"color:white;" %>
    <% unless session[:login_uid] %>
    <%= link_to login_path do %>
    <li><i class="fas fa-lock fa-3x"></i><br/>LOGIN</li>
    <% end %>
    <% else %>
    <%= link_to new_tour_path do %>
    <li><i class="fas fa-pencil-alt fa-3x"></i><br/>UPLOAD</li>
    <% end %>
    <%= link_to users_path do %>
    <li><i class="fas fa-user fa-3x"></i><br/>MY PAGE</li>
    <% end %>
    <%= link_to tops_logout_path do %>
    <li><i class="fas fa-lock-open fa-3x"></i><br/>LOGOUT</li>
    <% end %>
    <% end %>
    
  </ul>