<h1>〜投稿記事〜</h1>
<%= form_for @tour ,html: {class: 'topBefore', id: 'form'} do |f| %>
  <%= f.label :area, "エリア" %>
  <%= f.select :area, [["福岡","福岡"],["北九州","北九州"],["筑豊","筑豊"],["筑後","筑後"]], :placeholder => 'エリア' , :id => "input" %><br>
  <%= f.label :tag, "タグ" %>
  <%= f.select :tag, [["自然","自然"],["まち","まち"],["公園","公園"],["歴史","歴史"],["伝統文化・祭","伝統文化・祭"],["施設","施設"],["食","食"],["スポーツ","スポーツ"]] %>
  <%= f.text_field :title, :placeholder => "タイトル" , :id => "input"%><br>
  <%= f.text_field :address, :placeholder => 'アドレス' , :id => "input" %><br>
  <%= f.text_field :url, :placeholder => 'URL' , :id => "input" %><br>
  <%= f.text_area :text, :placeholder => '紹介文' , :id => "textarea" %><br>
  
  <%= f.submit "更新", :id => "submit" %>
  <%= f.submit "クリア", type: :reset , :id => "clear"%>
<% end %>
<br/>
<br/>
<br/>
<%= link_to  tours_path do %>
    <div class="btn">
    <p>TOPICSへ</p>
    </div>
   <% end %>

