<h1>～TOPICS～</h1>
<div class="main">
  
 <div class="contents-wrap1">
<% @tours.each do |t| %>
<div class="contents-box1">
<%= link_to  tour_path(t) do %>
  
  <img>
  <% unless t.images.empty? %>
    <%= image_tag t.images[0].img, :height => '150' %>
  <% end %>
  </img>
  <h2><%= t.title %></h2>
  <%= t.updated_at.strftime('%Y/%m/%d') %>&ensp;|&ensp;
  <%= User.find_by(id: t.user_id).uid %>&ensp;|&ensp;
  <%= t.tag %>&ensp;|&ensp;
  <%= t.impressionist_count %>views

<% end %>
</div>
<% end %>
</div>
</br><p>
  <%= paginate(@tours) %>
</p><br/>

<%= link_to  root_path do %>
    <div class="btn">
    <p>TOPへ</p>
    </div>
   <% end %>


</div>
