<div class="main">
<div id= "grid">
  <div id="mark">
  <div class="Ribbon">
    <span class="Ribbon-inner"></span>
  </div>
  </div>
  <div id="date">
    <p><% if @tour.created_at.to_i == @tour.updated_at.to_i %>
      <%= @tour.created_at.strftime('%Y/%m/%d') %>
    <% else %>
      <%= @tour.updated_at.strftime('%Y/%m/%d') %>
    <% end %>&ensp;|&ensp;
    <%= User.find_by(id: @tour.user_id).uid %>&ensp;|&ensp;
    <%= @tour.tag %>&ensp;|&ensp;
    <%= @tour.impressionist_count %> views 

    </p>
  </div>
  <div id="title">
    <div class="tour_title"><%= @tour.title %></div>
  </div>
  <div id="text">
    <p><%= @tour.text %></p>
  </div>
  <div id="info">
    <table>
　　<tbody>
　　<tr>
　　<th>住所</th>
　　<td class="data fst">
　　<%= @tour.address %><br>
　　</td>
　　</tr>
　　<tr>
　　<td class="bar" colspan="6"></td>
　　</tr>
　　<tr>
　　<th>URL</th>
　　<td class="data fst">
　　<%= link_to @tour.url, @tour.url %>
　　</td>
　　</tr>
　　</tbody>
　　</table>
  </div>
</div>

<p>
  <% unless @tour.images.empty? %>
    <% i = 0 %>
    <% while @tour.images.size > i do %>
      <%= image_tag @tour.images[i].img, :height => '300' %>
      <% i = i + 1 %>
    <% end %>
  <% end %>
</p>

<% if session[:login_uid] %>
<div class="edit">
    <% if @tour.user_id == User.find_by(uid: session[:login_uid]).id %>
      <%= link_to  edit_tour_path(@tour) do %>
  <nav>
    <p>編集</p>
  </nav>
      <% end %>
    <% end %>
</div>
<% end %>
<br/>
<br/>
<br/>
<%= link_to tours_path  do %>
<div class="btn">
    <p>TOPICSへ</p>
    </div>
<% end %>
</div>

