<!DOCTYPE html>
<html>
<head>
  <title>Fukuokamap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "container">
    <div id = "header">
      <%= render "header" %>
    </div>
    <div id = "content">
      <%= yield %>
    </div>
    <div id = "footer">
      <%= render "footer" %>
      <p> &#169; 2019 福岡探索MAP	</p>
    </div>
  </div>
</body>
</html>

